services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - kafka
    ports:
      - "8090:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092

  # microservicio-servicios:
  #   build: ./microo
  #   # image: orsantiago23/clase11380-microservicio-servicios:latest
  #   container_name: microservicio-servicios-app
  #   depends_on:
  #     - kafka
  #     - kafka-ui
  #     - zookeeper
  #   ports:
  #     - "8083:8083"
  #   environment:
  #     - SPRING_PROFILES_ACTIVE=spring
  #     - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/microservices-ecosystem
  #     - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/microservices-ecosystem/protocol/openid-connect/certs
  #     - KEYCLOAK_AUTH_SERVER_URL=http://keycloak:8080
  #     - SPRING_CLOUD_STREAM_KAFKA_BINDER_BROKERS=kafka:29092
  #     - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:29092
  #     - SPRING_CLOUD_STREAM_KAFKA_BINDER_CONFIGURATION_KEY_SERIALIZER=org.apache.kafka.common.serialization.StringSerializer
  #     - SPRING_CLOUD_STREAM_KAFKA_BINDER_CONFIGURATION_VALUE_SERIALIZER=org.springframework.kafka.support.serializer.JsonSerializer
  #     - SPRING_CLOUD_STREAM_KAFKA_BINDER_CONFIGURATION_KEY_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer
  #     - SPRING_CLOUD_STREAM_KAFKA_BINDER_CONFIGURATION_VALUE_DESERIALIZER=org.springframework.kafka.support.serializer.JsonDeserializer
  #     - EUREKA_CLIENT_ENABLED=false
  #     - SERVER_ADDRESS=0.0.0.0

networks:
  kafka-network:
    driver: bridge
